*{font-family:'Ubuntu';
    box-sizing: border-box;
    text-align: center;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 20, 20);
    
}



/* Menu Nav */
.header{
    background-color: rgba(151, 237, 177, 0.5); 
    padding: 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
.header a{
    color: rgb(20, 10, 75);
}


.heading{
    color: black;
    text-align: center;
}

/* Portada principal */
.portada {
    width: 100%;
    height: 100vh; 
    background: url('./portada.png') no-repeat fixed; 
    background-size: cover; 
}

.titulo{
padding-top: 250px;

}
.nombre{
    font-family: "Sacramento";
    font-size: 6rem;
    color: aliceblue;
}
.subnombre{
    color: aliceblue;
    font-size: 200%;
}

.animated-heading {
    opacity: 0; 
    transform: translateX(-100%);
    animation: slideIn 1.5s ease forwards; 
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%); }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
}


/*formulario*/


form {
    text-align: center;
    background: rgb(246, 246, 248);
  background: linear-gradient(90deg, rgb(241, 241, 242) 0%, rgb(229, 246, 240) 52%, rgb(230, 230, 234) 100%);
    margin:10px 20px;
    border: 4px solid #fefeff;
    border-radius: 60%;
    padding: 10px;
    width: 1 rem;
    border-radius: 5px;
    box-shadow: 3px 6px 110px #078eac;
  }
  
  /*campos del formulario */
  input[type=number], input[type=date] {
    width:13%;
    padding: 1px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    
  }
  
  /*botón del formulario */
  button[type=submit] {

    background: #F7F8F8;  
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  
    background: linear-gradient(to right, #ACBB78, #F7F8F8); 
    color: black;
    padding:0px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

/* segunda - Iconos*/

.segunda{
    text-align: center;
    margin: 150px 60px;
    font-size: larger;
    
}
.segunda i{
    color: #436A49;
}
.segunda i:hover{
    color: #41DC5B;
}


/* bienvenidos y carrousel*/
.bienvenidos{
    padding: 60px;
    margin-bottom: 150px;
    background-color: #495C4D;
    
}
.bienvenidos h1{
    font-family: 'Montserrat';
    font-weight: 900;
    color: #53B162;
    
}

.bienvenidos p{
    font-size: 23px;

}


/* Footer - pie de pagina */

.footer{
    background-color:#2B332C;
    text-align: right;
    padding-top: 60px;
    
}
.titulo_footer{
    font-family: "Sacramento";
    font-size: 4rem;
    color: rgb(215, 223, 229);
}

.cartaf{
    border-style:groove;
    border-color: black;
    margin-top: 70px;
    margin-left: 5%;
    margin-bottom: 30px;
    border-radius: 10%;
    
}
.cartaf i{
    margin-top: 10px;
}

.footer h2{
    color: #89a48f;
    font-weight: 900;
    font-size: 1rem;
}

.footer p{
    font-family: "Montserrat";
    color: #53B162;

}


@media (max-width:700px){
.cartaf{
    width:80%;

    }
    
}






/*################################################ CONTACTO ################################################### */

#contact{
    background-image: url('./img/contacto-tel.jpg');
    background-size:cover;
    background-attachment: fixed; /* Esto hace que la imagen de fondo sea fija */
    background-position:center;
    padding-bottom: 500px;
}

.comunicate{
    padding-top: 60px;
}

.medios{
    color: #07300e;
    }

.telefonos a{
    color: #18872b;
    font-size: 20px;
}


/* Formulario contacto  */


#formconsulta{        
    margin-left:300px ;
    margin-bottom: 60px;
    border: 4px solid #fefeff;
    border-radius: 60%;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 3px 6px 110px #078eac;
    
    }









  
/*################################################ NOSOTROS ################################################### */

    #nosotros{
        background-image: url('./img/noss.jpg');
        background-size:cover;
        background-attachment: fixed; 
        background-position:center;
        padding-bottom: 400px;
    }
    #texto_nos{
        background-color: #498058;
    }







/*################################################ EVENTOS ################################################### */
.eventos{
   padding-top: 70px;
    background-color: #498058;
}

    .service .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap:1.3rem;
        margin: 40px;
    }
    
    .service .box-container .box{
        border-radius: .5rem;
        background:#2B332C;
        text-align: center;
        padding:1.5rem;
    }
    
    .service .box-container .box i{
        height: 5rem;
        width: 5rem;
        line-height: 6rem;
        border-radius: 50%;
        font-size: 2.5rem;
        background:var(--main-color);
        color:#fff;
    }
    
    .service .box-container .box h3{
        font-size: 1.3rem;
        color:#fff;
        padding:1rem 0;
    }
    
    .service .box-container .box p{
        font-size: 1.1rem;
        color:#eee;
        line-height: 1.8;
    }







    .gallery .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap:1.2rem;
    }
    
    .gallery .box-container .box{
        position: relative; 
        border:0.5rem solid #333;
        border-radius: .5rem;
        height: 20rem;
        cursor: pointer;
        overflow: hidden;
        margin: 30px;
    }
    
    .gallery .box-container .box img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .gallery .box-container .box:hover img{
        transform: scale(1.1);
        filter: grayscale();
    }
    
    .gallery .box-container .box .title{
        position: absolute;
        top:-10rem; left:0; right: 0;
        background:#333;
        color:#fff;
        text-align: center;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
    
    .gallery .box-container .box:hover .title{
        top:0;
    }
    
    .gallery .box-container .box .icons{
        position: absolute;
        bottom:-10rem; left:0; right: 0;
        background:#333;
        padding-top: 1rem;
        text-align: center;
    }
    
    .gallery .box-container .box:hover .icons{
        bottom: 0;
    }
    
    .gallery .box-container .box .icons a{
        font-size: 2rem;
        margin:.5rem 1rem;
        color:#fff;
    }
    
    .gallery .box-container .box .icons a:hover{
        color:rgb(18, 106, 28);
    }
    

    
    .price .box-container{
        margin: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap:1.5rem;
    }
    
    .price .box-container .box{
        padding:2rem 0;
        background:#333;
        border-radius: .5rem;
        text-align: center;
    }
    
    .price .box-container .box:hover{
        transform: scale(1.03);
    }
    
    .price .box-container .box .title{
        background:rgb(11, 98, 19);
        color:#fff;
        padding:1.5rem 0;
        font-size: 2rem;
    }
    
    .price .box-container .box .amount{
        color:#fff;
        padding-top: 2rem;
        font-size: 2rem;
    }
    
    .price .box-container .box ul{
        list-style-type: none;
        padding:1rem 0;
    }
    
    .price .box-container .box ul li{
        font-size: 1.rem;
        color:rgb(220, 227, 221);
        padding:1rem 0;
    }
    
    .price .box-container .box ul li i{
        color:rgb(12, 93, 24);
        padding-right: .5rem;
    }
    
    .price .btn{
        background-color: #89a48f;
        color:#99dfa5;
    }

 /* WHATSAPP*/

#whatsapp-link{
    position: fixed; 
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    z-index: 9999;
 }

 #whatsapp-QR {
    position: fixed; 
    bottom: 20px;
    right: 80px;
    height: 100px;
    width: 100px;
    z-index:9999;


 }